In [4]:
import os
import pandas as pd

In [5]:
home_directory = os.path.join(os.curdir, 'Module3_datasets_v1.0')
file_path = os.path.join(home_directory, 'FairDealCustomerData.csv')

In [45]:
df = pd.read_csv(file_path, names=["Last Name","First Name","Blacklisted"])

In [46]:
df.head()

    Last Name           First Name  Blacklisted
0      Braund     Mr. Owen Harris             1
1   Heikkinen         Miss. Laina             0
2       Allen   Mr. William Henry             0
3       Moran           Mr. James             0
4    McCarthy       Mr. Timothy J             0

In [15]:
last_name = df["Last Name"]
last_name = list(last_name)

In [18]:
type(last_name)

list

In [19]:
first_name = df["First Name"]
first_name = list(first_name)

In [20]:
first_name[0]

' Mr. Owen Harris '

In [21]:
title, first, middle = first_name[0].split("")

In [22]:
print(title)
print(first)
print(middle)

Mr.
Owen
Harris

In [27]:
title_col = []
first_col = []

for i in range(0, len(first_name)):
    title, first = first_name[i].split(".")
    title_col.append(title)
    first_col.append(first)

In [29]:
print(title_col[0])

 Mr

ModuleNotFoundError: No module named 'os.pardir'; 'os' is not a package

TypeError: 'module' object is not callable

In [42]:
class Customer:
    title = ""
    fname = ""
    lname = ""
    isblacklisted = 0;

    def __init__(self):
        self.title = ""

    def __str__(self):
        return "Title:" + self.title + " First Name:" + self.fname + " Last Name:" + self.lname + " Blacklisted:" + self.isblacklisted

    def setIsblacklisted(self,isblacklisted):
        self.isblacklisted = isblacklisted

    def isblacklisted(self):
        return self.isblacklisted

    def setTitle(self,title):
        self.title = title

    def getTitle(self):
        return self.title

    def setFname(self,fname):
        self.fname = fname

    def getFname(self):
        return self.fname

    def setLname(self,lname):
        self.lname = lname

    def getLname(self):
        return self.lname




# customer2 = Customer()
# customer2.setTitle("Mrs.")
# customer2.setFname("George")
# customer2.setLname("Bush")
#
# print("First Customer Title %s" , customer1.getTitle())
# print("Second Customer Title %s" , customer2.getTitle())
# print("First Customer Title %s" , customer1.getTitle())

In [43]:
customer1 = Customer()

In [44]:
customer1 = Customer()
customer1.setTitle("Mr.")
customer1.setFname("Barack")
customer1.setLname("Obama")


# customer2 = Customer()
# customer2.setTitle("Mrs.")
# customer2.setFname("George")
# customer2.setLname("Bush")
#
print("First Customer Title %s" , customer1.getTitle())
# print("Second Customer Title %s" , customer2.getTitle())
# print("First Customer Title %s" , customer1.getTitle())

First Customer Title %s Mr.

In [54]:
class order:
    pass

In [ ]:
def createOrder(customername, productname, product_code):
    if customername.getFname("") == '1':
        o = order()
        return o

In [ ]:
customerdataframe = pd.df()

## Exception Handeling Practice

In [49]:
class Error(Exception):
    pass

class CustomerNotAllowedException(Error):
    pass

In [53]:
customer3 = Customer()

try:
    print(customer3.getTitle())
except CustomerNotAllowedException:
    print("This customer is not available")

Mr.